.taskitem{
  width: 100%;
  height: 40px;
  background-color: gainsboro;
  padding-top: 8px;
  padding-left:15px;
  margin-top :3px;
}
.editable{
  color:red;
}

.ed{
  border-color:#1678C2;
}

#errorspan{
  color:red;
}
.maintask{
   width:100%;
   font-size: 20px;
   font-weight: bold;
}

.iedit{
  float:right;
  padding-right:15px;    
}
.ierase{
  float:right;
  padding-right:15px; 
}


.taskbar{
  
  padding:0;
}

input{
  width:90%;
  height:30px;
  margin-bottom: 10px;
}

h4{
  margin-top: 7px;
  margin-bottom: 7px;
}
 .taskitem :hover{
   font-size: 21px;
 }